@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
